/* Header */

header {
    background-color: #D95550;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {

    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

nav {
    display: flex;


    flex-direction: row;
    margin-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;




}

#leftside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: auto;
    min-width: 50%;
    justify-content: flex-start;
    border-bottom: #C84D49 solid 0.1em;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

#rightside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    align-items: center;
    gap: 1rem;


}

.buttonheader {
    background-color: #DD6762;
}

.wraptimer {
    background-color: #DD6762;
}

.buttontimer {
    background-color: #DD6762;
}

.buttontimer.active {
    background-color: #C84D49;
}

.startbutton {
    background-color: white;
    border: none;
    color: #D95550;

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;

    box-shadow: 0 9px lightgray;

}

.startbutton:hover {
    background-color: white
}

.startbutton:active {
    background-color: white;
    box-shadow: 0 5px lightgray;
    transform: translateY(4px);
}